@model List<E_Producto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventario Actualizado</h1>
</div>

<a href="/Home/IrAgregar" class="btn btn-primary">Agregar</a>

@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success">
        <h5>@TempData["mensaje"]</h5>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <h5>Ocurrio un error: @TempData["error"]</h5>
    </div>
}

<table class="table table-bordered table-primary table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Fecha Ingreso</th>
            <th>Fecha Caducidad</th>
            <th>¿Esta Disponible?</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (E_Producto producto in Model)
        {
            <tr>
                <td>@producto.IdProducto</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio.ToString("c")</td>
                <td>@producto.FechaIngreso.ToString("dd/MM/yyyy")</td>
                <td>@producto.FechaCaducidad.ToString("dd/MM/yyyy")</td>
                <td>@producto.DisponibleTexto</td>
                <td>
                    <a href="/Home/IrEditar?idProducto=@producto.IdProducto" class="btn btn-info">Editar</a>
                    <a href="/Home/Eliminar?idProducto=@producto.IdProducto" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
